
{% extends "Admin/index.html" %}

{% block content %}


          <div class=" table-dark table-bordered table-sm th"  >
              <table class=" table-dark table-bordered table-sm th"  id="dataTable" width="100%" cellspacing="0" >
                  <thead style="text-align: center;background: #1f292d;font-size: 18px;">
                    <tr>
                      <th>Area Name</th>
                      <th>Crossroad Code</th>
                      <th>Action</th>
                    </tr>
                  </thead>

              <tbody>
               {%for row in crossroadVOList%}
        <tr>

            <td>{{row[1]['AreaName']}}</td>
            <td>{{row[0]['CrossroadName']}}</td>

            <td> <a href="/Admin/editCrossroad?CrossroadId={{row[0]['CrossroadId']}}">Edit</a> / <a href="/Admin/deleteCrossroad?CrossroadId={{row[0]['CrossroadId']}}">Delete</a> </td>
        </tr>
        {% endfor %}
              </tbody>
            </table>
          </div>
{% endblock %}
